In [1]:
# package libraries
import pandas as pd
import numpy as mp

# read in files
basic_stats = pd.read_csv('~/Documents/GitHub/projects_for_school/thinkful/nfl_project/data/Basic_Stats.csv')
game_log_r = pd.read_csv('~/Documents/GitHub/projects_for_school/thinkful/nfl_project/data/Game_Logs_Runningback.csv')
game_log_c = pd.read_csv('~/Documents/GitHub/projects_for_school/thinkful/nfl_project/data/Game_Logs_Wide_Receiver_and_Tight_End.csv')

In [2]:
basic_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 16 columns):
Age                     13504 non-null float64
Birth Place             14794 non-null object
Birthday                16835 non-null object
College                 17133 non-null object
Current Status          17172 non-null object
Current Team            3096 non-null object
Experience              17133 non-null object
Height (inches)         17026 non-null float64
High School             2514 non-null object
High School Location    2510 non-null object
Name                    17172 non-null object
Number                  1708 non-null float64
Player Id               17172 non-null object
Position                3096 non-null object
Weight (lbs)            17121 non-null float64
Years Played            14076 non-null object
dtypes: float64(4), object(12)
memory usage: 2.1+ MB

In [3]:
# clen up basic_stats

basic_stats = basic_stats.loc[ : , ['Player Id', 'Current Status', 'Current Team', 'Experience', 'College', 'Age', 'Weight (lbs)', 'Height (inches)']]

basic_stats.rename(columns = {'Player Id': 'player_id',
                              'Current Status': 'current_status',
                              'Current Team': 'current_team',
                              'Experience': 'experience',
                              'College': 'college',
                              'Age': 'age',
                              'Weight (lbs)': 'weight',
                              'Height (inches)': 'height'},
                   inplace = True)

basic_stats = basic_stats.replace(regex = {'experience': {'st|th|rd|nd|S|s|eason| ': '', 'Rookie': 0}}) # clean experience column

basic_stats.head()

,player_id,current_status,current_team,experience,college,age,weight,height
0,fredevans/2513736,Retired,NaN,3,Notre Dame,NaN,185.0,71.0
1,jimraiff/2523700,Retired,NaN,1,Dayton,NaN,235.0,70.0
2,bobbyfowler/2514295,Retired,NaN,1,Louisiana Tech,56.0,230.0,74.0
3,quinnjohnson/79593,Retired,NaN,5,LSU,30.0,255.0,73.0
4,l.t.walton/2552444,Active,Pittsburgh Steelers,3,Central Michigan,25.0,305.0,77.0

In [ ]:
basic_stats['experience'].drop_duplicates()

In [5]:
print(game_log_r.columns)
print(game_log_c.columns)

Index(['Player Id', 'Name', 'Position', 'Year', 'Season', 'Week', 'Game Date',
       'Home or Away', 'Opponent', 'Outcome', 'Score', 'Games Played',
       'Games Started', 'Rushing Attempts', 'Rushing Yards', 'Yards Per Carry',
       'Longest Rushing Run', 'Rushing TDs', 'Receptions', 'Receiving Yards',
       'Yards Per Reception', 'Longest Reception', 'Receiving TDs', 'Fumbles',
       'Fumbles Lost'],
      dtype='object')
Index(['Player Id', 'Name', 'Position', 'Year', 'Season', 'Week', 'Game Date',
       'Home or Away', 'Opponent', 'Outcome', 'Score', 'Games Played',
       'Games Started', 'Receptions', 'Receiving Yards', 'Yards Per Reception',
       'Longest Reception', 'Receiving TDs', 'Rushing Attempts',
       'Rushing Yards', 'Yards Per Carry', 'Longest Rushing Run',
       'Rushing TDs', 'Fumbles', 'Fumbles Lost'],
      dtype='object')

In [9]:
game_log_all = game_log_r.append(game_log_c, sort = False)
game_log_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180293 entries, 0 to 112631
Data columns (total 25 columns):
Player Id              180293 non-null object
Name                   180293 non-null object
Position               36412 non-null object
Year                   180293 non-null int64
Season                 180293 non-null object
Week                   180293 non-null int64
Game Date              180293 non-null object
Home or Away           180293 non-null object
Opponent               180293 non-null object
Outcome                180293 non-null object
Score                  180293 non-null object
Games Played           180293 non-null int64
Games Started          180293 non-null object
Rushing Attempts       180293 non-null object
Rushing Yards          180293 non-null object
Yards Per Carry        180293 non-null object
Longest Rushing Run    180293 non-null object
Rushing TDs            180293 non-null object
Receptions             180293 non-null object
Receiving Yards        180293 non-null object
Yards Per Reception    180293 non-null object
Longest Reception      180293 non-null object
Receiving TDs          180293 non-null object
Fumbles                180293 non-null object
Fumbles Lost           180293 non-null object
dtypes: int64(3), object(22)
memory usage: 35.8+ MB